* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: sans-serif, serif;
}

.container {
  display: grid;
  grid-template: 100vh / 25fr 75fr;
  grid-template-areas: "sidebar main";
}

.container .sidebar {
  height: 100vh;
  grid-area: sidebar;
  background-color: #000;
  color: #fff;
  overflow: scroll;
}

.sidebar .nav {
  background-color: #000;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
  width: 25%;
  height: 4rem;
  padding: 10px;
  color: #fff;
}

.sidebar ul {
  margin-top: 4rem;
  list-style: none;
}

.sidebar ul li a {
  font-size: 20px;
  font-weight: 200;
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  border-top: 3px solid gray;
}

@media only screen and (max-width: 600px) {
  .container {
    display: block;
  }
  .container .sidebar {
    height: 15rem;
  }
  .sidebar .nav {
    width: 100%;
  }
}

@media only screen and (max-width: 810px) {
  .container {
    display: block;
  }
  .container .sidebar {
    height: 15rem;
  }
  .sidebar .nav {
    width: 100%;
  }
}

/* main */

main {
  grid-area: main;
  background-color: #000;
  color: #fff;
  padding: 20px;
  overflow: scroll;
}

main h2 {
  margin-top: 40px;
  padding: 10px;
}

main p {
  margin: 10px 0px 0px 20px;
}

main ul {
  margin: 20px 0px 0px 60px;
}

main ul li {
  margin: 10px;
}

main .code {
  margin: 20px 20px 40px 70px;
  background-color: #333;
  padding: 15px;
  border-radius: 8px;
}

main .code h6 {
  font-size: 17px;
  font-weight: 200;
}

@media only screen and (max-width: 600px) {
  main .code h6 {
    font-size: 12.5px;
  }
}

main .MDN {
  color: dodgerblue;
  text-decoration: none;
}
